<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanyun.kace.sample.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KACE"
        tools:targetApi="31">
        <activity
            android:name="com.kanyun.kace.sample.demo.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KACE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kanyun.kace.sample.demo.SecondActivity"/>
    </application>

</manifest>